@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80%);
    }
}

.animate-scroll {
    animation: scroll 25s linear infinite;
}
